---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props<T extends "blog" | "mcskins" | "pictures"> {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<T>[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props as Props<
  "blog" | "mcskins" | "pictures"
>;
const category = (paginatedPosts as CollectionEntry<"mcskins">[])
  ? "mcskins"
  : (paginatedPosts as CollectionEntry<"pictures">[])
    ? "pictures"
    : "blog";
---

<Layout
  title={`${
    category === "mcskins"
      ? "MCSkins"
      : category === "pictures"
        ? "Pictures"
        : "Blog"
  } | ${SITE.title}`}
>
  <Header activeNav={category} />
  <Main
    pageTitle={category === "mcskins"
      ? "MCSkins"
      : category === "pictures"
        ? "Pictures"
        : "Blog"}
    pageDesc="All the articles I've posted."
  >
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/${category}/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/${category}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/${category}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
