---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props<T extends "blog" | "mcskins" | "pictures"> {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<T>[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props as Props<
  "blog" | "mcskins" | "pictures"
>;

// URLからカテゴリを取得
const urlPath = Astro.url.pathname.split("/"); // URLをスラッシュで分割
const categoryFromUrl = urlPath[1]; // URLの2番目の要素にカテゴリがあると仮定

// paginatedPostsが空の場合はURLから取得したcategoryを使用
const category =
  paginatedPosts.length > 0
    ? paginatedPosts[0].collection
    : categoryFromUrl === "blog" ||
        categoryFromUrl === "mcskins" ||
        categoryFromUrl === "pictures"
      ? categoryFromUrl
      : undefined;
---

<Layout
  title={`${
    category === "mcskins"
      ? "Mcskins"
      : category === "pictures"
        ? "Pictures"
        : "Blog"
  } | ${SITE.title}`}
>
  <Header activeNav={category} />
  <Main
    pageTitle={category === "mcskins"
      ? "Mcskins"
      : category === "pictures"
        ? "Pictures"
        : "Blog"}
    pageDesc="All the articles I've posted."
  >
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/${category}/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/${category}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/${category}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
